<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
    <test name = "test1">

        <parameter name = "login" value="pupk1n.volodim1r"/>
        <parameter name = "password" value="QWE123QWE"/>
        <classes>
            <class name = "TestYandex" />
        </classes>

    </test>
</suite>